[submodule "SDL-Hpp"]
	path = SDL-Hpp
	url = git@github.com:dirkz/SDL-Hpp.git
[submodule "glm"]
	path = glm
	url = git@github.com:icaven/glm.git
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
